.navbar {
  margin-top: 110px;
  display: flex;
  justify-content: center; 
  align-items: center;     
  flex-direction: column;  
  height: 100px;           
  background-color: #1a1a1a; 
  padding: 20px;
}

.navbar span {
  font-size: 1.25rem;
}

.streak-section {
  display: flex;
  align-items: center;   
  margin-top: 25px;  
  gap: 10px;               
}

.progress-bar {
  width: 200px;            /* Set width for progress bar */
  height: 10px;
  background-color: #e0e0e0; /* Background of progress bar */
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;            /* Fill the height of the progress bar */
  background-color: #15ae50; /* Color of progress fill */
  border-radius: 5px;
}
